<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.board.inquiry.repository.InquiryMapper">

    <!-- 문의 사항 생성 -->
    <insert id="insertInquiry" parameterType="com.example.board.inquiry.domain.Inquiry">
        INSERT INTO inquiry (user_id, email, title, content)
        VALUES (#{userId}, #{email}, #{title}, #{content})
    </insert>

    <!-- 문의 사항 단건 조회 -->
    <select id="findInquiryById" parameterType="com.example.board.inquiry.dto.InquiryResponseDto">
        SELECT i.id, u.username, i.title, i.content
        FROM inquiry i
        join user u on i.user_id = u.id
        WHERE i.id = #{id}
    </select>

    <!-- 문의 사항 전체 조회 -->
    <select id="findAllInquiries" parameterType="com.example.board.inquiry.dto.InquiryResponseDto">
        SELECT i.id, u.username, i.title, i.content
        FROM inquiry i
        join user u on i.user_id = u.id
    </select>

    <!-- 문의 사항 수정 -->
    <update id="updateInquiry" parameterType="com.example.board.inquiry.domain.Inquiry">
        update inquiry
        set title = #{title}, content = #{content}
        where id = #{id}
    </update>

    <!-- 문의 사항 삭제 -->
    <delete id="deleteInquiry" parameterType="long">
        delete from inquiry
        where id = #{id}
    </delete>

</mapper>