<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.board.inquiry.repository.InquiryMapper">

    <!-- 문의 사항 생성 -->
    <insert id="insertInquiry" parameterType="com.example.board.inquiry.domain.Inquiry">
        INSERT INTO inquiry (title, content)
        VALUES (#{title}, #{content})
    </insert>

    <!-- 문의 사항 단건 조회 -->
    <select id="findInquiryById" parameterType="com.example.board.inquiry.domain.Inquiry">
        SELECT id, username, title, content
        FROM inquiry
        WHERE id = #{id}
    </select>

    <!-- 문의 사항 전체 조회 -->
    <select id="findAllInquiries" parameterType="com.example.board.inquiry.domain.Inquiry">
        SELECT id, username, title, content
        FROM inquiry
    </select>

</mapper>