<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.board.user.repository.UserMapper">

    <!-- 유저 생성 -->
    <insert id="insertUser" parameterType="com.example.board.user.domain.User">
        INSERT INTO user (username, email, password)
        VALUES (#{username}, #{email}, #{password})
    </insert>

    <!-- 유저 단건 조회 -->
    <select id="findUserById" resultType="com.example.board.user.domain.User">
        SELECT id, username, email, password
        FROM user
        WHERE id = #{id}
    </select>

    <!-- 전체 유저 조회 -->
    <select id="findAllUsers" resultType="com.example.board.user.domain.User">
        SELECT id, username, email, password
        FROM user
    </select>

    <!-- 페이징 -->
    <select id="findUserByPage" resultType="com.example.board.user.domain.User">
        select id, username, email, created_at
        from user
        order by created_at desc
        limit #{limit} offset #{offset}
    </select>

    <!-- 총 레코드 수 조회 -->
    <select id="countUsers" resultType="long">
        select count(*) from user
    </select>

    <!-- 유저 수정 -->
    <update id="updateUser" parameterType="com.example.board.user.domain.User">
        UPDATE user
        SET username = #{username},
            email    = #{email},
            password = #{password}
        WHERE id = #{id}
    </update>

    <!-- 유저 이름 수정 -->
    <update id="updateUserName" parameterType="com.example.board.user.domain.User">
        update user
        set username = #{username}
        where id = #{id}
    </update>

    <!-- 패스워드 수정 -->
    <update id="updateUserPassword">
        update user
        set password = #{newPassword}
        where id = #{id}
    </update>

    <!-- 유저 삭제 -->
    <delete id="deleteUserById" parameterType="long">
        DELETE
        FROM user
        WHERE id = #{id}
    </delete>

</mapper>
